name: 01 - Building Blocks
on:
  push:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "echo-hello"
  echo-hello:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Failed step
      run: |
        echo "I will fail"

  echo-goodbye:
    runs-on: ubuntu-latest
    steps:
    - name: Say goodbye
      run: echo "Goodbye!"
